assignment1/.vs/
assignment1/homework1/.vs/
assignment1/homework1/bin/
assignment1/homework1/obj
assignment1/homework2APP/WindowsFormsApp1/.vs/
assignment1/homework2APP/WindowsFormsApp1/bin/
assignment1/homework2APP/WindowsFormsApp1/obj/
assignment2/.vs/
assignment2/bin/
assignment2/obj